/*index*/
.header{width: 1200px;margin: 0 auto;}
.con1 {width: 1200px;margin: 0 auto;}
.con2 ul{width: 1200px;margin: 0 auto;}
.con3 ul{width: 1200px;margin: 0 auto;}
.con4 {width:1200px;margin: 0 auto;}
.foo {width:1200px;margin: 0 auto;}
.copy .p {width:1200px;margin: 0 auto;overflow: hidden;height: 30px;}

.content ul{width:1200px;margin: 0 auto;}
