#toolbar {
  width: 100%;
  min-width: 1200px;
  height: 30px;
  background-color: #f6f6f6;
}
#toolbar .top-con {
  width: 1200px;
  margin: 0 auto;
}
#toolbar .right-show {
  width: auto;
  line-height: 29px;
  float: right;
  color: #333;
}
#toolbar .right-show > div {
  float: left;
  margin-left: 15px;
}
#toolbar .right-show a:hover {
  text-decoration: underline;
}
#toolbar .right-show .login-show a {
  margin-left: 13px;
}
#toolbar .right-show .login-show .nologin {
  display: none;
}
#toolbar .right-show .login-show .nologin a:nth-child(2) {
  color: #ff464e;
}
#toolbar .right-show .login-show .login {
  position: relative;
  display: none;
}
#toolbar .right-show .login-show .login .menu {
  display: inline;
  width: 100px;
}
#toolbar .right-show .login-show .login .menu a .cur {
  display: inline-block;
  float: left;
  background: url(../images/cur.gif) no-repeat;
  width: 10px;
  height: 5px;
  transition: all .4s;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  -moz-transition: all .4s;
  margin-left: 2px;
  margin-top: 11px;
  line-height: normal;
  cursor: pointer;
}
#toolbar .right-show .login-show .login .menu a .user {
  color: #ff464e;
  font-weight: bold;
  display: inline;
  float: left;
  max-width: 64px;
  _width: 64px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#toolbar .right-show .login-show .login .menu a img {
  margin-right: 5px;
  float: left;
  display: inline;
  width: 18px;
  height: 18px;
  vertical-align: middle;
  margin-top: 5px;
}
#toolbar .right-show .login-show .login .menu:hover .cur {
  transform: rotate(180deg);
}
#toolbar .right-show .login-show .login .login-box {
  position: absolute;
  top: 24px;
  left: 0;
  background: #fff;
  border: #f7dce0 solid 1px;
  width: 98px;
  border-radius: 5px;
  display: none;
  z-index: 13;
}
#toolbar .right-show .login-show .login .login-box ul li:hover {
  background: #f7dce0 ;
}
#toolbar .right-show .login-show .login .login-box ul li a {
  display: block;
  margin-left: 0;
  color: #ff464e;
  width: 78px;
  height: 26px;
  cursor: pointer;
  text-decoration: none;
  padding-left: 20px;
}
#toolbar .right-show .bag-show {
  padding: 0 20px 0 10px;
  margin-left: 5px;
  position: relative;
}
#toolbar .right-show .bag-show:hover {
  background-color: #fff;
  box-shadow: 0 2px 3px #d9d9d9;
}
#toolbar .right-show .bag-show > a {
  margin-right: 10px;
}
#toolbar .right-show .bag-show > a:hover {
  background-color: #fff;
  text-decoration: none;
}
#toolbar .right-show .bag-show .icon-bag {
  background: url(../images/icon-total.png);
  background-position: 0 -156px;
  width: 16px;
  height: 18px;
  float: left;
  margin: 6px 10px 0 0px;
}
#toolbar .right-show .bag-show .cartnum {
  color: #fff;
  text-align: center;
  line-height: 18px;
  font-size: 14px;
  position: absolute;
  width: 18px;
  height: 18px;
  left: 78px;
  margin-top: 5px;
  top: 0px;
  background-color: #cccccc;
  border-radius: 10px;
  display: inline-block;
}
#toolbar .right-show .bag-show .bag-tool {
  display: none;
  width: 158px;
  box-shadow: 0 2px 3px #d9d9d9;
  position: absolute;
  z-index: 2;
  top: 28px;
  background: #fff;
  left: -96px;
  padding: 10px 20px 10px;
  color: #999;
  height: auto;
  overflow: hidden;
  margin: 0;
  line-height: 34px;
  white-space: nowrap;
}
#toolbar .right-show .bag-show .bag-tool span {
  float: left;
  width: 30px;
  height: 30px;
  display: inline-block;
  background: url(../images/icon-total.png) no-repeat 0 0;
  background-position: 0 -182px;
}
#toolbar .right-show .bag-show .bag-tool p {
  float: left;
}
#toolbar .right-show .sx {
  display: inline-block;
  height: 18px;
  color: #eae2ea;
  margin-left: 14px;
  overflow: hidden;
}
#toolbar .right-show > .sx {
  display: inline-block;
  height: 18px;
  color: #eae2ea;
  margin-left: 14px;
  overflow: hidden;
  margin-left: 4px;
  float: left;
}
#toolbar .right-show .center {
  position: relative;
}
#toolbar .right-show .center div {
  position: absolute;
  background: #fff;
  border-radius: 5px;
  top: 24px;
  left: -15px;
  padding: 5px 10px;
  width: 60px;
  height: 50px;
  border: 1px solid #ccc;
  display: none;
  z-index: 10;
}
#toolbar .right-show .center div a {
  display: block;
}
.header {
  background-color: #fff;
  min-width: 1200px;
}
.header .area {
  width: 1200px;
  height: 85px;
  margin: 0 auto;
  position: relative;
}
.header .area .logo {
  background: url(../images/header-total.gif);
  background-position: -78px -52px;
  width: 210px;
  height: 52px;
  position: absolute;
  top: 17px;
}
.header .area .protection {
  position: absolute;
  right: 290px;
  background-position: 0 0;
  height: 33px;
  width: 465px;
  top: 28px;
  display: block;
  background: url(../images/header-total.gif) no-repeat;
}
.header .area .protection a {
  display: block;
  float: left;
  height: 35px;
  width: 108px;
  margin: 0 0px 0 34px;
  color: #5e5e5e;
}
.header .area .search {
  top: 25px;
  right: 0;
  width: 237px;
  height: 35px;
  position: absolute;
}
.header .area .search input[type="text"] {
  width: 166px;
  height: 35px;
  margin: 0px 0 0 10px;
  border: none;
  background: #efefef;
  padding: 0px 10px;
  line-height: 35px;
  float: left;
}
.header .area .search input[type="submit"] {
  background: url(../images/header-total.gif) no-repeat;
  background-position: right -65px;
  border: 0 none;
  cursor: pointer;
  height: 35px;
  width: 37px;
  float: left;
}
.mainNav {
  width: 100%;
  min-width: 1200px;
  height: 38px;
  background: #fff;
  border-bottom: 2px solid #ff464e;
}
.mainNav .nav {
  margin: 0 auto;
  width: 1200px;
  height: 38px;
  font-size: 14px;
}
.mainNav .nav ul {
  float: left;
}
.mainNav .nav ul a {
  padding: 10px 24px 0;
}
.mainNav .nav ul a:hover {
  text-decoration: underline;
}
.mainNav .nav ul .first {
  background: #ff464e;
  border-radius: 6px 6px 0 0;
  text-align: center;
  width: 210px;
  height: 38px;
}
.mainNav .nav ul .first a {
  color: #fff;
  line-height: 38px;
  width: 162px;
}
.mainNav .nav ul li {
  line-height: 40px;
  float: left;
  margin-left: 0px;
}
.mainNav .nav ul .phone-last {
  position: relative;
}
.mainNav .nav ul .phone-last a span {
  position: absolute;
  top: 11px;
  left: 10px;
  background: url(../images/phone-new.png);
  width: 10px;
  height: 16px;
}
.mainNav .nav ul .phone-last .phone-in {
  display: none;
  background: #fff;
  padding: 5px 5px 0 5px;
  top: 42px;
  left: -43px;
  height: 180px;
  position: absolute;
  z-index: 10;
}
.mainNav .nav ul .phone-last .phone-in div {
  width: 148px;
  height: 148px;
  overflow: hidden;
}
.mainNav .nav ul .phone-last .phone-in p {
  line-height: 20px;
  text-align: center;
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: #999;
}
.mainNav .nav .state-show {
  float: right;
  line-height: 40px;
  position: relative;
}
.mainNav .nav .state-show > span:first-child {
  position: absolute;
  left: -20px;
  top: 13px;
  background-image: url(../images/icon-total.png);
  background-position: -84px -38px;
  width: 16px;
  height: 16px;
}
.mainNav .nav .state-show a {
  color: #39c;
}
.mainNav .nav .state-show a:hover {
  text-decoration: underline;
}
.mainNav .nav .state-show .normal-side-box {
  display: none;
  font-size: 12px;
  line-height: 26px;
  top: 39px;
  right: 0;
  width: 180px;
  height: 140px;
  color: #666;
  border: solid #f00 1px;
  position: absolute;
  background-color: #f9f9f9;
  text-align: center;
  z-index: 10;
}
.mainNav .nav .state-show .normal-side-box p:first-child {
  background: #fff;
  padding: 12px 0;
}
.mainNav .nav .state-show .normal-side-box p a {
  margin: 0 15px;
}
.mainNav .nav .state-show .normal-side-box p span {
  color: #f00;
  font-weight: bold;
}
.fixed-right {
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 36px;
  z-index: 102;
  background-color: #444;
}
.fixed-right ul {
  position: relative;
  top: 80px;
  height: 500px;
}
.fixed-right ul li {
  margin-top: 15px;
  position: relative;
  width: 36px;
  height: 35px;
  padding-top: 1px;
}
.fixed-right ul li a {
  display: block;
  width: 36px;
  height: 35px;
}
.fixed-right ul li a i {
  background: url(../images/sidebar.png) 0 0 no-repeat;
  display: block;
  width: 18px;
  height: 18px;
  margin: 9px;
}
.fixed-right ul li .tab-tips {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  color: #fff;
  display: none;
  height: 36px;
  line-height: 36px;
  position: absolute;
  right: 62px;
  text-align: center;
  top: 0;
  width: 90px;
  background: #444 ;
  border-radius: 2px;
}
.fixed-right ul li .tab-tips .arr-icon {
  color: #444;
  position: absolute;
  right: -7px;
  top: 0px;
}
.fixed-right ul li:hover {
  background: #ff464e;
}
.fixed-right ul li:hover i {
  background-position-x: -26px;
}
.fixed-right ul .info {
  position: relative;
  width: 36px;
  height: 36px;
  padding-top: 1px;
}
.fixed-right ul .info a {
  display: block;
  width: 36px;
  height: 36px;
}
.fixed-right ul .info a i {
  background: url(../images/sidebar.png) 0 0 no-repeat;
  display: block;
  width: 18px;
  height: 18px;
  margin: 9px;
}
.fixed-right ul .info .tab-tips {
  line-height: 36px;
  position: absolute;
  right: 98px;
  text-align: center;
  top: 0;
  border-radius: 2px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  display: none;
  background: #fff;
  width: 220px;
  height: 106px;
  padding: 20px 0;
  z-index: 101;
  color: #ccc;
}
.fixed-right ul .info .tab-tips .user-box a.head {
  display: block;
  width: 60px;
  height: 60px;
  margin: 0 auto 10px;
}
.fixed-right ul .info .tab-tips .user-box .pic {
  border: #eee solid 2px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: 0 auto 10px;
  overflow: hidden;
}
.fixed-right ul .info .tab-tips .user-box .txt {
  color: #333;
  background: #fff3f5;
  border-top: #ffd8d8 solid 1px;
  border-bottom: #ffd8d8 solid 1px;
  height: 30px;
  line-height: 30px;
}
.fixed-right ul .info .tab-tips .user-box .txt a {
  display: inline-block;
  color: #ff464e;
}
.fixed-right ul .info .tab-tips i {
  font-style: normal;
  position: relative;
  right: -90px;
  top: -130px;
  cursor: pointer;
}
.fixed-right ul .info .tab-tips .arr-icon {
  position: absolute;
  right: -7px;
  top: 0px;
  color: #fff;
}
.fixed-right ul .info:hover {
  background: #ff464e;
}
.fixed-right ul .info:hover i {
  background-position-x: -26px;
}
.fixed-right ul .gwd {
  padding: 10px 0;
  height: 120px;
  border-bottom: 1px #333 solid;
  border-top: 1px #333 solid;
}
.fixed-right ul .gwd a {
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  color: #aaa;
}
.fixed-right ul .gwd a i {
  background-position-y: -24px;
}
.fixed-right ul .gwd a:hover {
  color: #fff;
}
.fixed-right ul .sc a i {
  background-position-y: -110px;
}
.fixed-right ul .yhq a i {
  background-position-y: -134px;
}
.fixed-right ul .yjfk {
  margin-top: 120px;
}
.fixed-right ul .yjfk a i {
  background-position-y: -208px;
}
.fixed-right ul .ewm a i {
  background-position-y: -160px;
}
.fixed-right ul .ewm .tab-tips {
  top: auto;
  bottom: -46px;
  background-color: #fff;
  border: #e2e2e2 solid 1px;
  padding: 5px;
  width: 148px;
  height: 173px;
}
.fixed-right ul .ewm .tab-tips .code-box {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 148px;
  z-index: 5;
}
.fixed-right ul .ewm .tab-tips .code-box .code {
  background: url(../images/jp-app-90-new.png) no-repeat;
  height: 148px;
  width: 148px;
}
.fixed-right ul .ewm .tab-tips .code-box .txt {
  text-align: center;
  font-size: 14px;
  color: #666;
  line-height: 23px;
}
.fixed-right ul .ewm .tab-tips .arr-icon {
  position: absolute;
  right: -7px;
  top: 104px;
  color: #fff;
}
.fixed-right ul .returntop {
  display: none;
}
.fixed-right ul .returntop a i {
  background-position-y: -187px;
}
.shopping-cart {
  width: 190px;
  position: fixed;
  right: -230px;
  top: 0;
  background: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  height: 100%;
  padding: 0 20px;
  display: block;
  z-index: 101;
}
.shopping-cart .cart_close {
  color: #ccc;
  display: block;
  width: 10px;
  height: 10px;
  font-size: 16px;
  line-height: 10px;
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer;
  font-style: normal;
}
.shopping-cart .sidebar-hd {
  border-bottom: 1px solid #dedcdc;
  overflow: hidden;
  padding: 10px 0;
  height: 20px;
  line-height: 20px;
}
.shopping-cart .bag-empty p {
  text-align: center;
  font-size: 14px;
  color: #666;
}
.shopping-cart .bag-empty .img {
  background: url(../images/bag.gif) no-repeat;
  width: 69px;
  height: 120px;
  margin: 20px auto;
}
.foot {
  height: 200px;
  width: 100%;
  min-width: 1200px;
  border-top: #ce003f solid 1px;
}
.foot .ft-bg {
  border-top: #ff464e solid 4px;
  margin-bottom: 30px;
}
.foot .foot_con {
  width: 1100px;
  min-width: 1100px;
  padding: 0 50px;
  margin: 0 auto;
  height: auto;
}
.foot .foot_con .con-box {
  height: auto;
  padding-top: 25px;
}
.foot .foot_con .con-box .app-span-box {
  width: 90px;
  float: left;
}
.foot .foot_con .con-box .app-span-box p {
  font-size: 14px;
  text-align: center;
  margin: 10px 0;
  color: #666;
}
.foot .foot_con .con-box .con-center {
  padding-left: 65px;
  float: left;
}
.foot .foot_con .con-box .con-center dl {
  width: 200px;
  float: left;
}
.foot .foot_con .con-box .con-center dl dt {
  font-size: 14px;
  color: #333;
  font-weight: bold;
  margin-bottom: 10px;
  padding-left: 7px;
  margin-bottom: 15px;
}
.foot .foot_con .con-box .con-center dl dd {
  margin-bottom: 8px;
  color: #666;
}
.foot .foot_con .con-box .con-center dl dd i {
  width: 4px;
  height: 4px;
  overflow: hidden;
  border-radius: 50%;
  background: #c6c6c6;
  display: inline-block;
  margin-right: 5px;
  float: left;
  margin-top: 8px;
}
.foot .foot_con .con-box .con-center dl dd a {
  color: #666;
}
.foot .foot_con .con-box .con-center dl dd a:hover {
  text-decoration: underline;
}
.foot .foot_con .con-box .con-contect {
  margin: 50px 0 0 -30px;
  float: left;
  color: #666;
}
.foot .foot_con .con-box .con-contect .server-img {
  float: left;
  height: 40px;
  width: 95px;
  overflow: hidden;
  background: url(../images/service_add.gif) 0 0 no-repeat;
}
.foot .foot_con .con-box .con-contect .server-img a {
  width: 100%;
  height: 100%;
  display: block;
}
.foot .foot_con .con-box .con-contect .server-time {
  float: left;
}
.foot .foot_con .link {
  padding: 10px 0;
  height: auto;
  border-bottom: 1px dotted #ccc;
  color: #999;
}
.foot .foot_con .link span {
  display: block;
  overflow: hidden;
  float: left;
}
.foot .foot_con .link ul {
  display: block;
}
.foot .foot_con .link ul li {
  margin-left: 65px;
}
.foot .foot_con .link ul li a {
  margin: 0 10px;
  color: #999;
}
.foot .foot_con .link ul li a:hover {
  text-decoration: underline;
}
.foot .foot_con .ft-compaty {
  font-size: 12px;
  text-align: center;
  padding-top: 20px;
  color: #c6c6c6;
}
.foot .foot_con .logo {
  color: #999999;
  text-align: center;
  padding-top: 10px;
}
.foot .foot_con .logo a {
  margin-right: 30px;
}
